<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172139464895-unscm9d3ia7ldlfa5lrkuackon189n7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172139464895-unscm9d3ia7ldlfa5lrkuackon189n7k</string>
	<key>API_KEY</key>
	<string>AIzaSyA3UrWA0UNevxnXihqxK4tjCF38Tz3xWgk</string>
	<key>GCM_SENDER_ID</key>
	<string>172139464895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mega.megaMarket</string>
	<key>PROJECT_ID</key>
	<string>mega-73cde</string>
	<key>STORAGE_BUCKET</key>
	<string>mega-73cde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172139464895:ios:51755f0f3f4009d8a61e0a</string>
</dict>
</plist>